<div class="brick white z-depth-1" *ngFor="#post of posts" [id]="post._id">

    <div class="typeindicator black white-text">
        <span class="from_mail">
      <i class="fa fa-user"></i>
      <a class="white-text" [href]="'mailto:'+post.from">{{ post.from }}</a>
    </span>
        <span class="date pull-right">
      <i class="fa fa-clock-o"></i>
      {{post.created_at}}
    </span>
    </div>

    <div class="brickheader" [ngClass]="{'red darken-3': post.site_name == 'YouTube', 'green darken-1': post.site_name == 'img' , 'blue  darken-2': post.site_name != 'YouTube' && post.site_name != 'img'}">
        <button *ngIf="post.public == 1" class="makeprivate white black-text">
      <i class="fa fa-unlock"></i>
    </button>
        <button *ngIf="post.public == 0" class="makepublic white black-text">
      <i class="fa fa-lock"></i>
    </button>

        <button class="sharepost white blue-text" (click)="popshare(post._id)">
      <i class="fa fa-code-fork"></i>
    </button>
        <button class="removepost white red-text pull-right" (click)="popremove(post._id)">
      <i class="fa fa-trash-o"></i>
    </button>
    </div>




    <articlecard [post]="post" *ngIf="post.site_name != 'YouTube' && post.site_name != 'img'"></articlecard>
    <youtubecard [post]="post" *ngIf="post.site_name == 'YouTube'"></youtubecard>





    <div class="brickfooter" [ngClass]="{'red darken-3': post.site_name == 'YouTube', 'green darken-1': post.site_name == 'img' , 'blue  darken-2': post.site_name != 'YouTube' && post.site_name != 'img'}">
        <button class="downvotes white red-text" (click)="popdislikes(post._id)">{{post.downvotes}}
      <i class="fa fa-thumbs-o-down"></i>
    </button>
        <button class="upvotes white green-text" (click)="poplikes(post._id)">{{post.upvotes}}
      <i class="fa fa-thumbs-o-up"></i>
    </button>
        <button class="commentsbutton white pull-right black-text" (click)="popcomments(post._id)">
      <i class="fa fa-comments-o"></i>
      {{post.comments}} Comments
    </button>
    </div>

</div>