
body {
    line-height: 1.125em;
    color: white;
    margin: 0 auto;
    position: relative;
    font-family: 'Lato', Helvetica, Arial, Tahoma;
    -webkit-overflow-scrolling: touch;
}
ol, ul {
    padding: 0 10px;
    margin: 0 10px;
    line-height: 1.5em;
}
h1 {
    font-size: 1.875em;
}
h2 {
    font-size: 1.6em;
    line-height: 1em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.875em;
}
a {
    text-decoration: none;
    color: #333;
}
